@page
@functions {
   public string? DayName {get; set;}
    public string? TimeNow {get; set;}
   public void OnGet()
   {
    ViewData["Title"] = "Northwind APP Home Page";
    DayName = DateTime.Now.DayOfWeek.ToString();
    TimeNow = DateTime.Now.ToString();
   }
}

<div class="jumbotron">
    <h1 class="display-3"> Welcome to @ViewData["Title"] </h1>
    <p class="lead"> This is a simple Northwind App using ASP.NET Core </p>
    </hr>

    <p> It's @DayName! @TimeNow Our Customers are restaurants, hotel and crusers</p>
    <p>
        <a class="btn btn-primary"
           href="suppliers"> learn More about out suppliers
        </a>
    </p>
</div>
